body
{
    background-image:url("/images/background.jpg");
}

.welcome
{
    color:orangered;
    text-align:center;
    font-size:xx-large;
    font-style:italic;
}

h4
{
    color:lightgreen;
}

a
{
    color:forestgreen;
}
